* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  /* font-style: normal; */
  color: #333333;
}

.container {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 550px;
  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 30px;
  top: 20px;
  box-sizing: border-box;
  height: 355px !important;
}

canvas {
  height: 170px;
}

.search-box {
  display: flex;
  height: 75px;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

#temp,
#temp2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  /* height: 280px; */
}



.search-section label {
  font-weight: bold;
  margin-bottom: 5px;
}

.search-section input,
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.bar {
  margin-top: 10px;
  height: 8px;
  background-color: #f0f0f0;
  border-radius: 5px;
  position: relative;
}



.location {
  background-color: #4CAF50;
}

.selection {
  background-color: #2196F3;
}

.search-buttons {
  display: flex;
  justify-content: space-between;
  /* position:relative;
  bottom: 10px; */
}

.search-section>select {
  width: 100%;
}

.search-btn {
  background-color: #3A81F1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #45a049;
}

h1 {
  display: flex;
  justify-content: center;
  width: 100vw;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: 7vh;
  background-color: #CDE7F0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: .5s;
  margin: 20px;
  overflow-wrap: break-word;

  &&:hover {
    transform: scale(1.05);
  }
}

.howtouse li {
  width: 38vw;
}

.list {
  height: 45vh;
  overflow: auto;
  position: absolute;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  right: 20px;
  border-radius: 20px;
  bottom: 20px;
  width: 35vw;
  /* height: 7vh; */
}

#ul>h2 {
  position: absolute;
  top: 135px;
  right: 100px;
}

#pie {
  width: 29vw;
  height: 38vh;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 500px;
  box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.howtouse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  right: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: calc(600px);
  height: calc(auto - 20px);
}

body {
  overflow: hidden;
  /* background-color: #eaeeef; */
  background-color: #f9f9f9;
}

div {
  background-color: white;
}

.total {
  width: 350px;
  height: 258px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 10px;
  background-color: #62afef;
}

.total h2,
h4 {
  margin: 20px;
}

.total div {
  background-color: #62afef;
 
}

.othercities {
  /* width: 200px; */
  /* height: 200px; */
  position: absolute;
  top: 200px;
  left: 500px;
  /* padding: 20px; */
  border-radius: 18px;

}

.popbutton {
  position: absolute;
  left: 590px;
  top: 355px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  /* padding: 5px; */
  background-color:#3A81F1;
  border: none;
  border-radius: 50px;
  color: white;
  transition: 0.4;
  &&:hover{
    scale: 1.05;
    background-color: #45a049;
    color: black;
  }
}

.login {
  /* margin: 200px auto; */
  width: 500px;
  /* height: 70vh; */
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  overflow: hidden;
}



input {
  padding: 20px;
  /* padding-right: 150px; */
  margin: 10px;
  border-radius: 10px;
  width: 90%;
  border: 1px solid rgba(128, 128, 128, 0.404);
}

#citiestoselect {
  border: none;
  /* width: 520px;
  height: 500px;
  overflow: hidden; */
}